@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
background: black;
}
/*颜色渐变*/
@keyframes ColorAnim{
	0%{
		
	}
	20%{
		background: darkcyan;
	}
	60%{
		background: blueviolet;
	}
	80%{
		background: indianred;
	}
	100%{
		background: white;
	}
}
	figure{
		animation: ColorAnim 5s infinite;
		width: 33%;
		height: 350px;
		/*超出范围隐藏*/
		overflow: hidden;
		position: relative;
		/*左浮动*/
		float: left;
	}
	img{
		widows: 500px;
		height: 350px;
	}
	img:hover{
		opacity: 0.5;
	}
	img,h2,p,span,div{
		transition: all 2s; 
	}
