@charset "utf-8";
#musicBtn{
	animation:musicAnim  3s infinite;
	width: 60px;
	height: 60px;
	top: 0px;
	right: 0px;
	position: absolute;
	
}
@keyframes musicAnim{
	from{
		
	}
	to{
		
	}
	transform:rotate(360deg);
}