@charset "utf-8";
.view1 img:hover{
	transform: translateX(50px);
	
}
/*文字样式*/
.view1 .info{
	width: 250px;
	/*height: auto;*/
	left: 70px;
    color: white;
    transition: all 0.8s;
    position: absolute;
}
/*默认在底部隐藏，鼠标放上后，从底部向上飞出，向上移动200个像素*/
.view1 .p1{
	bottom: 0;
	transform: translateY(300px);
}
.view1:hover .p1 {
	transform: translateY(-200px);
}
.view1 .p2{
	top: 200px;
	transform: translateY(600px);
}
.view1:hover .p2{
	transform: translateX(0px);
}
.view1 .p3{
	top: 275px;
	transform: translateX(-500px);
}
.view1:hover .p3{
	transform: translateX(0px);
}
.view2 img:hover{
	transform: translateY(30px);
}
.view2 .info{
	width: 250px;
	/*height: auto;*/
	left: 60px;
    color: white;
    transition: all 0.5s;
    position: absolute;
    transform: translateX(-400px);
}
.view2 .p4{
	top: 120px;
}
.view2:hover .p4{
	transform: translateX(0px);
}
.view2 .p5{
	top: 160px;
	transition-delay: 0.2s;
}
.view2:hover .p5{
	transform: translateX(0px);
	
}
.view2 .p6{
	top: 200px;
	transition-delay: 0.4s;
}
.view2:hover .p6{
transform: translateX(0px);
}
